body {
  margin: 0px;
  background-color: #efefef;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Heebo";
  padding: 0px 0px 50px 0px;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  padding: 0px 155px;
}

.logo-header {
  width: 103px;
}

.logo-header > img {
  width: 100%;
}

.tabs {
  display: flex;
  gap: 62px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.tabs > div {
  cursor: pointer;
}

/* Home */
.home {
  display: flex;
  height: 100vh;
}

.home-pic {
  flex: 1;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  gap: 54px;
  padding: 154px 162px;
}

.title-container > .paraghraph {
  display: flex;
  flex-direction: column;
}

.title-intro-bold {
  font-weight: 500;
  font-size: 24px;
  line-height: 35.25px;
}

.title-intro {
  font-weight: 100;
  font-size: 24px;
  line-height: 35.25px;
}

.parag3 {
  font-weight: 900;
  font-size: 55px;
  line-height: 70px;
}

.parag4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 70px;
}

.social-tabs {
  display: flex;
  gap: 38px;
}

.social-tabs > img {
  width: 28.33px;
  cursor: pointer;
}

.home-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 0px 0px;
}

.home-pic > img {
  width: 60%;
}

/* Project */
.projects {
  display: flex;
  flex-direction: column;
  padding: 62px 155px;
  gap: 87px;
}

.projects-title {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-weight: 900;
  font-size: 85px;
  line-height: 124.84px;
}

.section-sub-title {
  font-weight: 40;
  font-size: 31px;
  line-height: 45.53px;
}

.projects-boxs {
  display: flex;
  flex-direction: column;
  gap: 87px;
}

.box-row {
  display: flex;
  justify-content: space-between;
}

.box-item {
  display: flex;
  flex-direction: column;
}

.box-item > img {
  width: 500px;
}

.item-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 35.25px;
}

.item-sub-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 22.03px;
}

.box-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  flex: 1;
  height: 30px;
}

.box-buttons :nth-child(1) {
  font-weight: 700;
}

/* About me */
.about-me {
  display: flex;
  padding: 62px 155px;
}

/* left side */
.left-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 53px;
}

.right-side {
  flex: 1;
}

.about-me-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 35.25px;
}

.bold {
  font-weight: 700;
  font-size: 15px;
  line-height: 35.25px;
}

.tools-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 45.53px;
}

.tools-table {
  width: 100%;
}

th {
  text-align: start;
}

td {
  font-size: 12px;
}

/* Right side */
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 186px 0px 0px 0px;
  gap: 70px;
}

.right-side > img {
  width: 77%;
}

.about-me-right-side-description {
  display: flex;
  flex-direction: column;
  font-family: "Grape Nuts";
  font-weight: 400;
  font-size: 31px;
  line-height: 37.98px;
  margin: 0px 77px;
  gap: 10px;
}

.ending {
  display: flex;
  justify-content: flex-end;
  font-family: "Heebo";
  font-weight: 700;
  font-size: 10px;
  line-height: 29.38px;
}

/* contact */
.contact {
  display: flex;
  padding: 62px 155px;
}

.contact-left-side {
  flex: 1;
}

.form-table {
  width: 100%;
}

.form-table input {
  border: 2px solid;
  width: 100%;
  height: 25px;
  background-color: #efefef;
}

.contact-right-side {
  flex: 1;
}

.form-table label {
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
}

.message-field input {
  height: 150px;
}

.send-message {
  display: flex;
  justify-content: flex-end;
}

.send-message input {
  height: 30px;
  width: 190px;
  font-family: "Heebo";
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
}

/* Right side */

.contact-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 113px 0px 0px 0px;
}
.contact-right-side img {
  width: 50%;
}

/* Footer */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1e;
  height: 222px;
  padding: 0px 155px;
}

.footer-description {
  flex: 1;
  font-weight: 400;
  font-size: 24px;
  line-height: 35.25px;
  color: #efefef;
}

.bold-white {
  font-weight: 900;
  font-size: 24px;
  line-height: 35.25px;
}

.footer-social-tabs {
  flex: 1;
  display: flex;
  gap: 40px;
}

.footer-social-tabs > img {
  width: 28.33px;
  cursor: pointer;
}
